<div id="main" class="palm-hasheader">
	<div class="palm-header">Subnet details</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">IP / Subnet Informations</span>
	</div>
	<div class="palm-list">
	<div class='palm-row single'>
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label" align="left">IP address</div>
				<div id="ip_addr" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class='palm-row single'>
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label">Subnet mask</div>
				<div id="sub_mask" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-info-text">
		<div id="error_msg"></div>
	</div>
	<div x-mojo-element="Button" id="calc_button"></div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">Subnet Calculation</span>
	</div>
	<div class="palm-list">
		<div class='palm-row single'>
			<div class="palm-row-wrapper">
				<div class="label right">Subnet ID</div>
				<div id="net_id" class="title left">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label right">Broadcast</div>
				<div id="broadcast" class="title left">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label right">Number of hosts</div>
				<div id="nb_hosts" class="title left">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label right">Wildcard</div>
				<div id="wildcard" class="title left">????</div>
			</div>
			
			<div class="palm-row-wrapper">
				<div class="label right">CIDR Notation</div>
				<div id="cidr_notation" class="title left">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label right">Subnet mask</div>
				<div id="subnet_mask" class="title left">????</div>
			</div>
		</div>
	</div>
</div>